* {padding:0;margin:0;box-sizing:border-box;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;}

html, body {width:100%;height:100%;}

.container {max-width:960px;margin:50px auto;background-color:rgba(255, 255, 255, 0.95);padding:40px 30px;border-radius:10px;box-shadow:1px 1px 1px rgba(0, 0, 0, 0.15);}

html {background-image:url("/images/bg4.jpg");background-attachment:fixed;background-size:auto 100%;background-position:center center;}

p {overflow:hidden;}

@media screen and (max-width:960px){
    .container {margin:20px 10px;padding:30px 20px;}
}

.clearfix:after { content:""; display:block; visibility:hidden; height:0; clear:both;}
